<div class="pt-r">
    <div id="container">
        <div class="line clearfix">
            <div class="view-section clearfix">
                <div class="dashboard-main" style="margin: auto; float: none">
                    <div class="ui-sec-tle">
                        <h3>User Group</h3>

                        <div class="ui-filter-dtl-area">
                            <ul class="ui-select-card-list clearfix line">
                                <li class="ui-select-card-item" ng-repeat="userGroup in userGroups  | orderBy:'name'">
                                    <div class="ui-select-card"
                                         ng-class="{'ui-select-card-selected': selectedUserGroup(userGroup.id)}"
                                         ng-click="selectUserGroup(userGroup.id)">
                                        <div class="ui-select-card-con">
                                            <p class="ui-select-card-title">{{userGroup.name}}</p>

                                            <p class="ui-select-card-des">SSID:
                                                {{userGroup.ssids|ssidStringFromArray}}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="ui-sec-tle" ng-show="displayUserDetails('single')">
                        <h3>User Details</h3>

                        <div class="line clearfix">
                            <div class="grid_2 column">
                                <label for="usernameCB">Username</label>

                                <div class="control">
                                    <input disabled="" class="ace-switch ace-switch-7" type="checkbox" id="usernameCB"
                                           ng-model="username.name"/>
                                    <span class="lbl switch-label"></span>
                                </div>
                            </div>
                            <div class="grid_2 column">
                                <label for="emailCB">Email address</label>

                                <div class="control">
                                    <input ng-disabled="disableEmail" class="ace-switch ace-switch-7" type="checkbox"
                                           id="emailCB" ng-model="username.email"/>
                                    <span class="lbl switch-label"></span>
                                </div>
                            </div>

                            <div class="grid_2 column">
                                <label for="phoneCB">Phone number</label>

                                <div class="control">
                                    <input ng-disabled="disablePhone" class="ace-switch ace-switch-7" type="checkbox"
                                           id="phoneCB" ng-model="username.phone"/>
                                    <span class="lbl switch-label"></span>
                                </div>
                            </div>

                        </div>
                        <div class="line clearfix ng-scope" ng-show="username.name">
                            <div class="grid_4 first column">
                                <label for="firstName" class="ng-binding">First Name:</label>
                            </div>
                            <div class="last column">
                                <input class="input_5 ng-pristine ng-untouched ng-valid ng-empty"
                                       style="height: 30px;" id="firstName" type="text" ng-model="user.firstName">
                            </div>
                        </div>

                        <div class="line clearfix ng-scope" ng-show="username.name">
                            <div class="grid_4 first column">
                                <label for="lastName" class="ng-binding">Last Name:</label>
                            </div>
                            <div class="last column">
                                <input class="input_5 ng-pristine ng-untouched ng-valid ng-empty"
                                       style="height: 30px;" id="lastName" type="text" ng-model="user.lastName">
                            </div>
                        </div>

                        <div class="line clearfix ng-scope" ng-show="username.email">
                            <div class="grid_4 first column">
                                <label for="email" class="ng-binding">Email:</label>
                            </div>
                            <div class="last column">
                                <input class="input_5 ng-pristine ng-untouched ng-valid ng-empty"
                                       style="height: 30px;" id="email" type="text" ng-model="user.email">
                            </div>
                        </div>

                        <div class="line clearfix ng-scope" ng-show="username.phone">
                            <div class="grid_4 first column">
                                <label for="phone" class="ng-binding">Phone:</label>
                            </div>
                            <div class="last column">
                                <input class="input_5 ng-pristine ng-untouched ng-valid ng-empty"
                                       style="height: 30px;" id="phone" type="text" ng-model="user.phone">
                            </div>
                        </div>

                        <div class="line clearfix ng-scope">
                            <div class="grid_4 first column">
                                <label for="organization" class="ng-binding">Organization:</label>
                            </div>
                            <div class="last column">
                                <input class="input_5 ng-pristine ng-untouched ng-valid ng-empty"
                                       style="height: 30px;" id="organization" type="text"
                                       ng-model="user.organization">
                            </div>
                        </div>

                        <div class="line clearfix ng-scope">
                            <div class="grid_4 first column">
                                <label for="purpose" class="ng-binding">Purpose of Visit:</label>
                            </div>
                            <div class="last column">
                                <input class="input_5 ng-pristine ng-untouched ng-valid ng-empty"
                                       style="height: 30px;" id="purpose" type="text" ng-model="user.purpose">
                            </div>
                        </div>

                        <div class="line clearfix">
                            <div class="grid_4 first column">
                                <label for="deliverMethod">Deliver Method:</label>
                            </div>
                            <div class="last column">
                                <select class="input_5 ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
                                        style="height: 30px;" id="deliverMethod" ng-model="user.deliverMethod"
                                        ng-selected="user.deliverMethod">
                                    <option value="NO_DELIVERY" class="ng-binding ng-scope">No delivery
                                    </option>

                                    <option value="EMAIL"
                                            class="ng-binding ng-scope">Email
                                    </option>

                                    <option value="SMS"
                                            class="ng-binding ng-scope">Sms
                                    </option>

                                    <option value="EMAIL_AND_SMS"
                                            class="ng-binding ng-scope">Email and sms
                                    </option>

                                </select>
                            </div>
                        </div>
                        <div class="clearfix">
                            <button class="btn btn-primary" ng-click="reset('single')">Reset</button>
                            <input ng-disabled="isNotValid('single')" type="button" class="btn btn-primary"
                                   ng-click="save('single')"
                                   value="Save">
                        </div>
                    </div>
                </div>

            </div>

            <div class="ui-sec-tle" ng-show="displayUserDetails('bulk')">
                <div class="line clearfix ng-scope">
                    <div class="grid_4 first column">
                        <label for="prefix" class="ng-binding">Prefix:</label>
                    </div>
                    <div class="last column">
                        <input class="input_5 ng-pristine ng-untouched ng-valid ng-empty"
                               ng-class="{invalid: bulk.prefixIsNotValid}"
                               style="height: 30px;" id="prefix" type="text" ng-model="bulk.prefix">
                    </div>
                </div>

                <div class="line clearfix ng-scope">
                    <div class="grid_4 first column">
                        <label for="domain" class="ng-binding">Domain:</label>
                    </div>
                    <div class="last column">
                        <input class="input_5 ng-pristine ng-untouched ng-valid ng-empty"
                               ng-class="{invalid: bulk.domainIsNotValid}"
                               style="height: 30px;" id="domain" type="text" ng-model="bulk.domain">
                    </div>
                </div>

                <div class="line clearfix ng-scope">
                    <div class="grid_4 first column">
                        <label for="example" class="ng-binding">Example:</label>
                    </div>
                    <div class="last column">
                        <input disabled="" class="input_5 ng-pristine ng-untouched ng-valid ng-empty"
                               style="height: 30px;" id="example" type="text"
                               value="{{bulk.prefix}}_00001@{{bulk.domain}}">
                    </div>
                </div>

                <div class="line clearfix ng-scope">
                    <div class="grid_4 first column">
                        <label for="numberOfAccounts" class="ng-binding">Number of accounts (1-{{bulk.maxNumberOfAccounts}}):</label>
                    </div>
                    <div class="last column">
                        <input class="input_5 ng-pristine ng-untouched ng-valid ng-empty"
                               ng-model="bulk.numberOfAccounts"
                               style="height: 30px;" id="numberOfAccounts" type="number" min="0" max="{{bulk.maxNumberOfAccounts}}">
                    </div>
                </div>
                <div class="clearfix">
                    <button class="btn btn-primary" ng-click="reset('bulk')">Reset</button>
                    <input ng-disabled="isNotValid('bulk')" type="button" class="btn btn-primary"
                           ng-click="save('bulk')"
                           value="Save">
                </div>
            </div>
            <div class="ui-sec-tle" ng-show="displayBulkResult('bulk')">
                <div class="clearfix">
                    <h3>Bulk Result</h3>
                    <button class='ui-button ui-button-dBlue ui-button-small' ng-controller="ModalCtrl" ng-click="open('exportBulk')" style="margin: 5px 0">Export</button>
                    <uib-progressbar max="max" value="(createdAccountsFinished/bulk.numberOfAccounts)*100"><span style="color:white; white-space:nowrap;">{{createdAccountsFinished}} / {{bulk.numberOfAccounts}}</span></uib-progressbar>

                    <div style="position: relative; min-height: 50px;">
                        <div class="dgrid dgrid-grid ui-widget dgrid-autoheight">
                            <div class="dgrid-header dgrid-header-row ui-widget dgrid-autoheight" role="grid">
                                <table st-safe-src="credentialsMaster" st-table="credentials"
                                       class="dgrid-row-table table table-condensed">
                                    <thead>
                                    <tr>
                                        <th ng-repeat="header in bulkResultHeaders"
                                            class="dgrid-cell dgrid-column-1 dgrid-selector"
                                            role="columnheader">
                                            <div class="dgrid-resize-header-container">{{header}}</div>
                                            <div class="dgrid-resize-handle resizeNode-1"></div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="credential in bulkResult">
                                        <td ng-repeat="field in credential">
                                            <div>{{field}}</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <h3>Bulk Errors</h3>
                    <div ng-repeat="error in bulkError">{{error}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
