<div class="pt-r">
    <div id="container">
        <div class="line clearfix">
            <div class="view-section clearfix">
                <div class="leftNavIconMain" style="width: 220px; margin-right: 10px; height: 100%; float: left;">
                    <div class="filterArea leftNavItem show" style="margin-top: 35px">
                        <div class="filter-panel clearfix">
                            <div class="filter-con-header">
                                <div class="filter-con-title" style='width:100%'> Filter By
                                    <div class="ui-filter-categ">
                                        <h3 class="ui-filter-categ-tle">User Type</h3>

                                        <div class="ui-filter-dtl-area">
                                            <div class="ui-filter-dtl">
                                                <ul>
                                                    <li ng-repeat="userType in userTypes">
                                                        <label class="checkbox">
                                                            <input type="checkbox" data-name={{userType.name}}
                                                                   class="J-check-any" ng-model="userType.selected"
                                                                   ng-change="change()">
                                                            <span class="lbl fn-ellipsis" title={{userType.name}}>{{userType.name | userType}}</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h3 class="ui-filter-categ-tle">User Group</h3>

                                        <div class="ui-filter-dtl-area">
                                            <div class="ui-filter-dtl">
                                                <ul ng-class="{'entity-loading': !userGroupsLoaded()}">
                                                    <li ng-repeat="userGroup in userGroups">
                                                        <label class="checkbox">
                                                            <input type="checkbox" data-name={{userGroup.name}}
                                                                   class="J-check-any" ng-model="userGroup.selected"
                                                                   ng-change="change()">
                                                            <span class="lbl fn-ellipsis" title={{userGroup.name}}>{{userGroup.name}}</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-main">
                    <div class="dashboard-main">
                        <div class="ui-tle">
                            <span class="title">Accounts</span>
                            <div class="fn-right ui-icon ui-fresh-icon" ng-click="refresh()"></div>
                        </div>
                        <div>
                            <div class="fn-left" style="vertical-align: middle; line-height: 36px; margin-right: 20px;">
                                <a href="#/create/single" class="table-action-icons table-add"></a>
                                <span class="table-action-icons table-remove" ng-click="deleteCredentials()"></span>
                            </div>
                            <button class='ui-button ui-button-dBlue ui-button-small' ng-controller="ModalCtrl" ng-click="open('export')" style="margin: 5px 0">Export</button>
                            <span>Number of accounts: {{credentialsMaster.length}}</span>
                        </div>
                        <div class="clearfix">
                            <div style="position: relative; min-height: 150px;">
                                <div class="dgrid dgrid-grid ui-widget dgrid-autoheight">
                                    <div class="dgrid-header dgrid-header-row ui-widget dgrid-autoheight" role="grid">
                                        <table st-safe-src="credentialsMaster" st-table="credentials" class="dgrid-row-table table table-condensed">
                                            <thead>
                                            <tr>
                                                <th class="dgrid-cell dgrid-column-0 dgrid-selector"
                                                    role="columnheader">
                                                    <div class="dgrid-resize-header-container">
                                                        <input type="checkbox" ng-click="selectAll()" ng-model="selectAllChecked" class="J-check-any"><span class="lbl"></span>
                                                    </div>
                                                    <div class="dgrid-resize-handle resizeNode-1"></div>
                                                </th>
                                                <th class="dgrid-cell dgrid-column-1 dgrid-selector" st-sort="userName"
                                                    role="columnheader">
                                                    <div class="dgrid-resize-header-container">UserName</div>
                                                    <div class="dgrid-resize-handle resizeNode-1"></div>
                                                </th>
                                                <th class="dgrid-cell dgrid-column-2 dgrid-selector"
                                                    role="columnheader">
                                                    <div class="dgrid-resize-header-container">Email</div>
                                                    <div class="dgrid-resize-handle resizeNode-1"></div>
                                                </th>
                                                <th class="dgrid-cell dgrid-column-3 dgrid-selector"
                                                    role="columnheader">
                                                    <div class="dgrid-resize-header-container">Phone</div>
                                                    <div class="dgrid-resize-handle resizeNode-1"></div>
                                                </th>
                                                <th class="dgrid-cell dgrid-column-4 dgrid-selector"
                                                    role="columnheader">
                                                    <div class="dgrid-resize-header-container">Organization</div>
                                                    <div class="dgrid-resize-handle resizeNode-1"></div>
                                                </th>
                                                <th class="dgrid-cell dgrid-column-1 dgrid-selector"
                                                    role="columnheader">
                                                    <div class="dgrid-resize-header-container">Group</div>
                                                    <div class="dgrid-resize-handle resizeNode-1"></div>
                                                </th>
                                                <th class="dgrid-cell dgrid-column-6 dgrid-selector"
                                                    role="columnheader">
                                                    <div class="dgrid-resize-header-container">Type</div>
                                                    <div class="dgrid-resize-handle resizeNode-1"></div>
                                                </th>
                                                <th class="dgrid-cell dgrid-column-7 dgrid-selector"
                                                    role="columnheader">
                                                    <div class="dgrid-resize-header-container">Creation Time</div>
                                                    <div class="dgrid-resize-handle resizeNode-1"></div>
                                                </th>
                                                <th class="dgrid-cell dgrid-column-8 dgrid-selector"
                                                    role="columnheader">
                                                    <div class="dgrid-resize-header-container">Activation Time</div>
                                                    <div class="dgrid-resize-handle resizeNode-1"></div>
                                                </th>
                                                <th class="dgrid-cell dgrid-column-9 dgrid-selector"
                                                    role="columnheader">
                                                    <div class="dgrid-resize-header-container">Expiration Time</div>
                                                    <div class="dgrid-resize-handle resizeNode-1"></div>
                                                </th>
                                                <th class="dgrid-cell dgrid-column-13 dgrid-selector"
                                                    role="columnheader">
                                                    <div class="dgrid-resize-header-container">SSIDs</div>
                                                    <div class="dgrid-resize-handle resizeNode-1"></div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="credential in credentials">
                                                <td><div><input type="checkbox" ng-model="credential.selected" ng-click="selectOne()" data-name={{credential.id}} class="J-check-any"><span class="lbl"></span></div></td>
                                                <td><div>{{credential.userName}}</div></td>
                                                <td><div>{{credential.email}}</div></td>
                                                <td><div>{{credential.phone}}</div></td>
                                                <td><div>{{credential.organization}}</div></td>
                                                <td><div>{{credential.groupName}}</div></td>
                                                <td><div>{{credential.credentialType | userType}}</div></td>
                                                <td><div>{{credential.createTime | date : 'short' }}</div></td>
                                                <td><div>{{credential.activeTime | date : 'short' }}</div></td>
                                                <td><div>{{credential.expireTime | date : 'short' }}</div></td>
                                                <td><div>{{credential.ssids|ssidStringFromArray}}</div></td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="12" class="text-center">
                                                        <div class="ui-grid-bottom clearfix">
                                                            <div class="ui-grid-bottom-left fn-left">
                                                                <a clas="J-page-size ui-page-size" ng-class="{'ui-page-size-cur': isCurPage(10)}" ng-click="page(10)">10</a>
                                                                <a clas="J-page-size ui-page-size" ng-class="{'ui-page-size-cur': isCurPage(20)}" ng-click="page(20)">20</a>
                                                                <a clas="J-page-size ui-page-size" ng-class="{'ui-page-size-cur': isCurPage(50)}" ng-click="page(50)">50</a>
                                                                <a clas="J-page-size ui-page-size" ng-class="{'ui-page-size-cur': isCurPage(100)}" ng-click="page(100)">100</a>
                                                            </div>
                                                            <div class="ui-grid-bottom-right fn-right">
                                                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" st-template="views/customPagination.html"></div>                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="grid-mark"
                                         ng-style="credentialsLoaded() === true && {'display': 'none'}"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>