<nav ng-if="pages.length >= 2">
    <ul class="pagination ui-grid-pages">
        <li class="ui-page-item-nav">
            <a ng-click="selectPage(1)" ng-class="{'ui-page-item-disable': currentPage === 1}" class="J-page-first ui-page-item-first"></a>
        </li>
        <li class="ui-page-item-nav">
            <a ng-click="selectPage(currentPage - 1)" ng-class="{'ui-page-item-disable': currentPage === 1}" class="J-page-prev ui-page-item-prev"></a>
        </li>
        <li class="ui-page-item-nav">
            <span>{{currentPage}}/{{numPages}}</span>
        </li>
        <li class="ui-page-item-nav">
            <a ng-click="selectPage(currentPage + 1)" ng-class="{'ui-page-item-disable': currentPage === numPages}" class="J-page-next ui-page-item-next"></a>
        </li>
        <li class="ui-page-item-nav">
            <a ng-click="selectPage(numPages)" ng-class="{'ui-page-item-disable': currentPage === numPages}" class="J-page-last ui-page-item-last"></a>
        </li>
        <li class="pageNumWrap">
            <input type="text" style="height: 16px;" ng-model="customPage" class="ui-page-num">
            <span type="button" class="ui-page-num-go" ng-click="selectPage(customPage)">Go</span>
        </li>
    </ul>

</nav>