<div class="modal-header">
    <h4 class="modal-title">HTTP {{apiErrorStatus}}</h4>
</div>
<div class="modal-body">
    <table style="text-align: left">
        <tr>
            <th style="padding: 10px;">Error Message: </th>
            <td>{{apiErrorMessage}}</td>
        </tr>
        <tr>
            <th style="padding: 10px;">Error Code: </th>
            <td>{{apiErrorCode}}</td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" ng-click="close()">Close</a>
</div>