<div class="modal-header">
    <h4 class="modal-title">Account details</h4>
</div>
<div class="modal-body">
    <table>
        <tbody>
        <tr>
            <th style="padding: 5px 10px;">HMNG Server:</th>
            <td style="padding: 5px 10px;">server</td>
        <tr>
            <th style="padding: 5px 10px;">Owner ID:</th>
            <td style="padding: 5px 10px;">ownerId</td>
        <tr>
            <th style="padding: 5px 10px;">Access Token:</th>
            <td style="padding: 5px 10px;">accessToken</td>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" ng-click="cancel()">Close</a>
</div>