<div class="modal-header">
    <h4 class="modal-title">New account created</h4>
</div>
<div class="modal-body">
    <table style="text-align: left">
        <tr>
            <th style="padding: 10px;">Username: </th>
            <td>{{loginName}}</td>
        </tr>
        <tr>
            <th style="padding: 10px;">Password: </th>
            <td>{{password}}</td>
        </tr>
        <tr>
            <th style="padding: 10px;">SSID: </th>
            <td>{{ssid | ssidStringFromArray}}</td>
        </tr>
        <tr>
            <th style="padding: 10px;">Start Time: </th>
            <td>{{activeTime}}</td>
        </tr>
        <tr>
            <th style="padding: 10px;">End Time: </th>
            <td>{{expireTime}}</td>
        </tr>
        <tr>
            <th style="padding: 10px;">Auth Type: </th>
            <td>{{authType}}</td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" ng-click="close()">Close</a>
</div>