<div class="modal-header">
    <h4 class="modal-title">Export Accounts</h4>
</div>
<div class="modal-body">
    <span>Values to exports</span>
    <ul >
        <li ng-repeat="field in exportFields">
            <label class="checkbox">
                <input type="checkbox" data-name={{field.name}}
                       class="J-check-any" ng-model="field.selected"
                       ng-change="change()">
                <span class="lbl fn-ellipsis" title={{field.name}}>{{field.display}}</span>
            </label>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" ng-click="close()">Cancel</a>
    <a class="btn btn-primary" ng-csv="export()" csv-header="getExportHeader()" filename="accounts.csv">Export to CSV</a>
</div>