<div class="modal-header">
    <h4 class="modal-title">Bulk creation</h4>
</div>
<div class="modal-body">
    <table style="text-align: left">
        <tbody>
        <tr>
            <th style="padding: 10px;">Number of created accounts: </th>
            <td>{{createdAccountsFinished}}</td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" ng-csv="bulkExport()" csv-header="getBulkExportHeader()" filename="bulkAccounts.csv">Export to CSV</a>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" ng-click="close()">Close</a>
</div>